body{
  font-family: verdana, sans-serif;
}
.box{
  border: 1px solid;
  box-shadow: 5px 10px 15px grey;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  text-align: center;
  width: 80%;
}
p h1{
  text-shadow: 2px 2px 5px;
}
