body {
  background-color: black;
  color: white;
}
h1 {
  font-size: 20;
  border-style:dashed;
}
p {
  color:green;
  font-size:12;
}
.textbox {
  background-color:rgb(100, 200, 200);
  border-radius:30px;
  margin: 30px;

}

.div1 {
  border-style: dotted;
  border-width: 2px;
  width: 100px;
  height: 100px;
}

.rivi {
  float:left;
}
