
/* sivun perustyyli */
.sitestyle{
  background-color:black;
  color:white;
}

/* h1 otsikon tyyli */
.heading1{
  border-style:dashed;
  font-size:20px;
}

/* päätekstin tyyli */
.maintext{
  color:green;
  font-size:12px;
}

/* tekstikentän tyyli */
.textbox{
  border:2px solid white;
  border-radius:15px;
  background-color:rgb(100, 230, 230);
  margin:auto;
  padding:50px;
  text-align:center;
  width:50%;
}

/*otsikkopalkin tyyli */
.header1{
  background-color:red;
  color:white;
  font-size:30px;
  padding:50px;
  text-align:center;
}

/* navigointipalkin tyyli */
.navbar1{
  background-color:yellow;
  float:left;
  padding:20px;
  width:50%;
}

/* article tyyli */
.article1{
  background-color:grey;
  float:left;
  padding:20px;
  width:50%;
}
.div1 {
  border-style:dotted;
  border-width:2px;
  height:100px;
  width:100px;
}

.kuva {
  margin:auto;
  width:10%;
}
