body {
  background-color: black;
  color: white;
}
h1 {
  font-size: 20;
  border-style:dashed;
}
p {
  color:green;
  font-size:12;
}
.textbox {
  text-align:center;
  background-color:rgb(100, 100px, 200);
  margin:auto;
  width:50%;
}

.div1 {
  border-style: dotted;
  border-width: 2px;
  width: 100px;
  height: 100px;
}

.rivi {
  float:left;
}
