html{
  font-family:verdana, sans-serif;
}
body{
background-color: black;
}
.backdrop{
  background-color: #f8f8ff;
  box-sizing: border-box;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  min-height: 1000px;
  padding-bottom: 50px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 100px;
}
.table1{
  background-color:#dcdcdc;
  text-align: center;
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}
.table1 th{
  background-color: #8fbc8f;
}
.table1 tr, th, td{
  border: 1px solid black;
  border-collapse: collapse;
}
.form1{
  padding-bottom: 10px;
}
