body{
background-image: url(https://user-images.githubusercontent.com/91533120/143257107-9cd36584-f74f-4bb5-8031-0ab6234ad252.jpg);
background-image: no-repeat;
background-position: fixed;
background-size: cover;

}

.div1{
  background-color: #687B81;
  height: 1440px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
  width: 80%;
}
