.body1{
  font-family:verdana, arial, sans-serif;
  font-size: 16px;
  text-align: center;
}

.header1{
  box-sizing:border-box;
  background-color:#8fbc8f;
  color:#2f4f4f;
  height:200px;
  padding:30px;
  text
}

.bar1{
  background-color:#dcdcdc;
}

.navbutton1{
  border-style:solid;
  border-color:white;
}

.base1{
    background-color:#f8f8ff;
}

.description1{
  background-color:#8fbc8f;
  margin-top: 100px;
  padding:50px;
}

.product{
  background-color: #8fbc8f;
  box-sizing:border-box;
  margin-top: 100px;
  margin-bottom: 80px;
  max-width: 20%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 10px;
}
.heading1{
  font-size: calc(1rem + 1vw);
}
.normaltext{
  font-size: calc(1rem + 0.2vw);
}
.textbox{
    background-color: inherit;
}
.reviews{
  background-color: #8fbc8f;
  margin-top: 80px;
  margin-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.footer1{
  background-color:#dcdcdc;
  height: 80px;
}
