.body1{
  background-color:black;
  font-family:verdana, arial, sans-serif;
}
.header1{
  box-sizing:border-box;
  background-color:#8fbc8f;
  color:#2f4f4f;
  height:200px;
  padding:30px;
  text-align:center;
}
.navbar{
  background-color:#dcdcdc;
}
.nav{
  border-style:solid;
  border-color:white;
  text-align:center;
}
