body{
  background-color: black;
}

#background{
background-attachment: fixed;
background-image: url(https://user-images.githubusercontent.com/91533120/143257107-9cd36584-f74f-4bb5-8031-0ab6234ad252.jpg);
background-position: center;
background-size: cover;
height: 100%;
width: 100%
}

.background{
  background-color: #687B81;
  opacity: 0.9;
}

.navigation1{
  background-color: #4F5B5F;
}

.footer1{
  background-color: #4F5B5F;
}

#testcol{
  height: 1440px;
}

#entertext{
  font-family: 'Cinzel', serif;
}
