body{
  background-color: black;
}
h2, h3{
  color: white;
  font-family: 'Cinzel', serif;
  font-size: calc(0.7rem + 1vw);
  text-align: center;
}
p{color: white;
}
.hiddenimage{
  opacity: 0;
}
#background{
  background-attachment: fixed;
  background-image: url(https://user-images.githubusercontent.com/91533120/143257107-9cd36584-f74f-4bb5-8031-0ab6234ad252.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.background{
  background-color: #687B81;
  opacity: 0.9;
  min-height: 100vw;
}

.navigation1{
  background-color: #4F5B5F;
  font-family: 'Cinzel', serif;
}

.footer1{
  background-color: #4F5B5F;
}

#testcol{
  height: 1440px;
}

#entertext1{
  color: white;
  font-family: 'Cinzel', serif;
  font-size: calc(0.7rem + 1vw);
  text-shadow: 2px 2px 5px;
  opacity: 0;
}
#entertext2{
  color: white;
  font-family: 'Cinzel', serif;
  font-size: calc(0.7rem + 1vw);
  text-shadow: 2px 2px 5px;
  opacity: 0;
}
#entertext3{
  color: white;
  font-family: 'Cinzel', serif;
  font-size: calc(0.7rem + 1vw);
  text-shadow: 2px 2px 5px;
  opacity: 0;
}
#entertext4{
  color: white;
  font-family: 'Cinzel', serif;
  font-size: calc(0.7rem + 1vw);
  text-shadow: 2px 2px 5px;
  opacity: 0;
}
#entertext5{
  color: white;
  font-family: 'Cinzel', serif;
  font-size: calc(0.7rem + 1vw);
  text-shadow: 2px 2px 5px;
  opacity: 0;
}
#entertext6{
  color: white;
  font-family: 'Cinzel', serif;
  font-size: calc(0.5rem + 0.7vw);
  text-shadow: 2px 2px 5px;
  opacity: 0;
}
#enterLogoBox{
  width:100px;
}
#enterLogo{
  height: auto;
  opacity: 0;
  position: relative;
  max-width: 10%;
}
.enterLogo2{
  height: auto;
  /opacity: 0;
  max-width: 10%;
  margin-left: 10px;
  margin-right: 10px;

}
#enterButton{
  color: white;
  font-family: 'Cinzel', serif;
  font-size: calc(1rem + 1vw);
}
a:active{
  color: white;
}
a:hover{
  background-color: #687B81;
  opacity: 0.5;
  transition: 0.3;
}
a:visited{
  color: white;
}
.entertextbox{
  text-align: center;
}
#homeImg{
  max-height: 500px; 
  width: auto;
}
